body {
	background-image: url(../Img/theatre.jpg);
	background-size: cover;
	padding: 0px;
	margin: 0px;
}

@font-face {
	font-family: intelevised;
	src: url(../Fonts/SFIntellivised-Bold.ttf);
}

body * {
	font-family: intelevised;
}

#MainMenu {
	font-size: 30px;
	color: white;
	cursor: pointer;
	width: 18%;
	height: 60px;
	background-color: black;
	text-align: center;
	padding: 10px;
	box-sizing: border-box;
}

#Menu {
	position: absolute;
	width: 18%;
	top: 0%;
	bottom: 0%;
	background-color: black;
	text-align: center;
	visibility: hidden;
	transition-duration: 1.5s;

}

.list {
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 20px;
	display: block;
	text-align: center;
	border-bottom: 1px solid white;
	padding: 15px;
}

#Social {
	margin-top: 20px;
}
.Socialicon {
	text-decoration: none;
	font-size: 25px;
	padding: 5px;
	color: white;
	margin-top: 30px;
}

#Contact {
	color: white;
	position: absolute;
	bottom: 20px;
	left: 15px;
}

#Contact > Div {
	margin: 10px;
}

#MainMenu:hover + #Menu {
	visibility: visible;
}

#Menu:hover {
	visibility: visible;
}

.list:hover {
	color: silver;
	transition-duration: 1s;
}
.list:hover:before {
	content: "";
	display: inline-block;
	background-color: white;
	width: 10px;
	height: 10px;
	transform: rotate(46deg);
	margin-right: 10px;
}

#Premiere{
	color: white;
	top: 5px;
	width: 800px;
	height: 500px;
	position: absolute;
	top: 10px;
	left: 23%;
}

h1{
	font-size: 32px;
	text-align: center;

}

.Poster {
	width: 150px;
	height: auto;
	position: relative;
	cursor: pointer;
	display: inline-block;
	left: 10%;
	margin: 10px;
	transition-duration: 1s;
}

.Poster img {
	width: 100%;
	height: auto;
}

.Tarigi {
	width: 100%;
	height: 40px;
	background-color: rgba(0, 0, 0, 0.5);
	text-align: center;
	box-sizing: border-box;
	padding-top: 10px;
	position: absolute;
	top: 30%;
}

.Poster:hover {
	width: 200px;
}

#ReadAbout {
	width: 350px;
	height: 100px;
	display: block;
    border-radius: 25px;
    border: 4px solid white;
    position: absolute;
    bottom: 10px;
    left: 40%;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
    color: white;
    text-align: center;
    padding-top: 25px;
    box-sizing: border-box;
}

#ReadAbout:hover {
	color: black;
	transition-duration: 1.5s;
	background-color: white;
	box-shadow: 20px 20px 50px 10px silver;
}